In [2]:
import pandas as pd
import scipy.stats
import numpy as np
from scipy.stats import norm

# 9.1

Пусть x – реализация случайной выборки X1, X2, . . . , X1000 из распределения N(µ, 2,72) (данные в файле). Проверяется на уровне значимости α = 0,05

основная гипотеза\
H0 : µ = 1, 25\
против альтернативной гипотезы\
H1 : µ 6= 1,25.

1. Найдите значение статистики критерия z = Zнабл. = Z(x),
   критическое множество Kα и на 5% уровне значимости проверить основную гипотезу H0;
2. Найдите P–значение критерия и также сделать выводы.
3. Найдите вероятность ошибки второго рода β и мощность критерия
   W для µ = µ1 = 0,95 и сделать выводы.
4. Написать программу на платформе JupyterP ython, которая моделирует гистограмму P V (P–значений
   критерия) и сделать выводы.

In [16]:
data = pd.read_csv("sample9_1_PM2023.csv", names=["x"])

In [17]:
data

            x
0   -1.520364
1    0.709026
2    4.487076
3    0.774559
4    4.967267
..        ...
995 -0.198150
996  0.905657
997  2.223575
998  3.286491
999 -3.535852

[1000 rows x 1 columns]

In [18]:
x = data["x"]
x_mean = x.mean()
x_std = x.std()

In [19]:
n = x.shape[0]
n

1000

Так как σ^2 известна, то берем

\begin{equation}
Z = \frac{\bar{x}-\mu_0}{\frac{σ}{\sqrt{n}}}
\end{equation}

Иначе бы взяли T

Так как H1: μ != 1.25, то K_α - двусторонняя

## 1

Найдите значение статистики критерия z = Zнабл. = Z(~x) \
Критическое множество Kα \
На 5% уровне значимости проверить основную гипотезу H0

In [20]:


# Среднее и стандартное отклонение из гипотезы H0
mu_h0 = 1.25
sigma_h0 = 2.7

# Вычисление z-статистики
z_statistic = (np.mean(x) - mu_h0) / (sigma_h0 / np.sqrt(len(x)))

print(f"Значение статистики критерия z: {z_statistic}")

Значение статистики критерия z: -0.5622343260114797

In [21]:
# Уровень значимости
alpha = 0.05

# Критическое значение для двустороннего теста
z_critical = norm.ppf(1 - alpha / 2)

print(f"Критическое значение для уровня значимости {alpha}: {z_critical}")

Критическое значение для уровня значимости 0.05: 1.959963984540054

## 2

In [33]:
# P-значение для двустороннего теста
p_value = 2 * (1 - norm.cdf(np.abs(z_statistic)))

print("P-значение критерия:", p_value)

P-значение критерия: 0.5739563770550329

In [24]:
if p_value < alpha:
    print("Отвергаем основную гипотезу H0")
else:
    print("Не отвергаем основную гипотезу H0")

Не отвергаем основную гипотезу H0

## 3

Найдите вероятность ошибки второго рода β и мощность критерия
W для µ = µ1 = 0,95 и сделать выводы.

In [25]:
def Phi0(x):
    return norm(0.95, 2.7**2).cdf(x) - 1 / 2

In [26]:
alpha = 0.05
zalpha = norm(0.95, 2.7**2).isf(alpha)

In [27]:
mu_1 = 0.95
mu_0 = 1.25

beta = 1 / 2 + Phi0(zalpha - np.sqrt(n) / sigma_h0 * (mu_1 - mu_0))

calpha = mu_0 + sigma_h0 / np.sqrt(n) * zalpha
c0 = (mu_0 + mu_1) / 2

In [28]:
beta, 1 - beta

(0.9832830889646, 0.01671691103539996)

# 9.2

In [30]:
data = pd.read_csv("sample9_2_PM2023.csv", names=["x"])
data

           x
0  27.041459
1   3.943612
2  19.334803
3   9.086020
4  13.472668
5  21.338875
6  19.527265
7  14.866979
8   4.732571
9  17.328405

In [31]:
# Параметры гипотезы
mu_0 = 13.7
alpha = 0.05
mu_1 = 3.00536

# Рассчитываем t-статистику
t_stat = (np.mean(data) - mu_0) / (np.std(data, ddof=1) / np.sqrt(len(data)))

# Рассчитываем P-значение
p_value = 2 * (1 - scipy.stats.t.cdf(np.abs(t_stat), df=len(data) - 1))

# Вероятность ошибки второго рода
beta = scipy.stats.norm.cdf(
    (
        scipy.stats.norm.ppf(1 - alpha / 2)
        - (mu_1 - mu_0) / (np.std(data, ddof=1) / np.sqrt(len(data)))
    )
)

power = 1 - beta

# Вывод результатов
print(f"1) t = {t_stat[0]}")
print(f"2) P-значение = {p_value[0]}")
print(f"3) beta = {beta}")
print(f"   Мощность критерия = {power}")

1) t = 0.5831039501860182
2) P-значение = 0.5741416681136751
3) beta = [1.]
   Мощность критерия = [3.49305029e-11]

c:\Programs\Python\Python311\Lib\site-packages\numpy\core\fromnumeric.py:3502: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

# 9.3

Дана выборка объема n=13. Выборка из совокупности с нормальным распределением. Известено средним квадратичным отклонением σ = 3. Выдвигается гипотеза H0: µ = µ0 = 17 для уровня значимости a = 0.05

Требуется:
а) найти мощность критерия для проверки гипотезы H1 : µ = µ1 = 16;
б) найти объем выборки n, при котором мощность критерия не меньше 0, 92.

In [ ]:
import scipy.stats as stats
import numpy as np
from scipy.optimize import fsolve

In [ ]:
# Данные из условия
alpha = 0.05
sigma = 3
mu0 = 17
mu1 = 16
delta = mu0 - mu1
z_critical = stats.norm.ppf(1 - alpha)

\begin{equation}
W = P(Z > Z\_{1-\alpha} - \frac{δ\sqrt{n}}{\sigma})
\end{equation}

In [ ]:
# Функция для расчета мощности критерия
def power_of_test(n):
    return 1 - stats.norm.cdf(z_critical - delta * np.sqrt(n) / sigma)


# а) Найти мощность критерия для H1: µ = 16
power = power_of_test(13)  # Примерный объем выборки из условия
print(f"Мощность критерия для H1: µ = 16: {power:.4f}")

# б) Найти объем выборки n, при котором мощность критерия не меньше 0.92
target_power = 0.92
n_solution = fsolve(lambda n: power_of_test(n) - target_power, 13)[0]
print(f"Объем выборки n для мощности не менее 0.92: {int(np.ceil(n_solution))}")

Мощность критерия для H1: µ = 16: 0.3289
Объем выборки n для мощности не менее 0.92: 84