In [135]:
import numpy as np
import pandas as pd
from scipy.stats import stats, t

## 10.1

In [136]:
data = pd.read_csv("./sample_10_1_XY.csv", names=["x", "y"])
data.sample()

          x          y
11  3.80037 -17.810729

In [137]:
X = data["x"].values
Y = data["y"].dropna().values
n = len(X)
m = len(Y)

varX = 2.7**2
varY = 17.2**2

X_mean = X.mean()
Y_mean = Y.mean()
z = (X_mean - Y_mean) / ((varX / n) + (varY / m)) ** 0.5
print("z =", z)

z = -0.7452574454846023

In [138]:
Y = data.Y.dropna().values
n = len(Y)
X = data.X[:n].values

varX = 2.7**2
varY = 17.2**2

z = (X.mean() - Y.mean()) / ((varX / n) + (varY / n)) ** 0.5
z

AttributeError: 'DataFrame' object has no attribute 'Y'

---

## 10.2

In [ ]:
data = pd.read_csv("sample_10_2_XY.csv", names=["x", "y"])
data

           x          y
0  -5.373397  -4.846481
1 -24.545615  -0.820939
2  -0.802851  22.656087
3   4.265231   9.088802
4   2.094642   4.045747
5   2.996778   1.863085
6  -9.620434   5.841623
7        NaN  16.223898
8        NaN   2.084858

In [ ]:
X = data.x.dropna()
Y = data.y

n = len(X)
m = len(Y)

In [ ]:
tw, p_value = stats.ttest_ind(X, Y)
tw, p_value

C:\Users\DaSh-More\AppData\Local\Temp\ipykernel_95508\3500295311.py:1: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  tw, p_value = stats.ttest_ind(X, Y)

(-2.2757593115433274, 0.039104712196068044)

In [ ]:
sp = (np.sum((X - X.mean()) ** 2) + np.sum((Y - Y.mean()) ** 2)) / (n + m - 2)
Tw = (X.mean() - Y.mean()) / (sp**0.5 * (1 / n + 1 / m) ** 0.5)
Tw

-2.275759311543327

In [ ]:
alpha = 0.04

t1 = t(len(X) + len(Y) - 2)
(
    -sp * (1 / len(X) + 1 / len(Y)) * t1.isf(alpha / 2),
    sp * (1 / len(X) + 1 / len(Y)) * t1.isf(alpha / 2),
)

(-49.70686401560365, 49.70686401560365)

In [ ]:
pv = 2 * (1 - t1.cdf(abs(Tw)))
pv

0.5359108370196681

---

## 10.3

In [143]:
data = pd.read_csv("sample_10_3_XY.csv", names=["x", "y"])
data.sample()

          x          y
5 -14.61584  14.438547

In [144]:
X = data.x.dropna()
Y = data.y
n = len(X)
m = len(Y)
tw, p_value = stats.ttest_ind(X, Y, equal_var=False)
tw, p_value

C:\Users\DaSh-More\AppData\Local\Temp\ipykernel_95508\946722367.py:5: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  tw, p_value = stats.ttest_ind(X, Y, equal_var=False)

(-5.166795565736608, 0.000294443094993535)

In [145]:
sw = (
    1 / (n - 1) * np.sum((X - X.mean()) ** 2) / n
    + 1 / (m - 1) * np.sum((Y - Y.mean()) ** 2) / m
) ** 0.5
Tw = (X.mean() - Y.mean()) / sw
Tw

-5.166795565736609

In [146]:
sw

3.498620853479501

In [ ]:
s2x = 1 / (len(X) - 1) * np.sum((X - X.mean()) ** 2)
s2y = 1 / (len(Y) - 1) * np.sum((Y - Y.mean()) ** 2)
param = s2x / s2y
n = len(X)
m = len(Y)
alpha = 0.05

df = (param + n / m) ** 2 / (1 / (n - 1) * param**2 + 1 / (m - 1) * (n / m) ** 2)
t1 = t(df)
sw * t1.isf(alpha / 2)

7.685473820252177

In [ ]:
pv = 2 * (1 - t1.cdf(abs(Tw)))
pv

0.00029444309499360166

---

## 10.4

In [ ]:
data = pd.read_csv("sample_10_4_XY.csv", names=["x", "y"])
data.sample()

           x          y
1  15.239861  24.208777

In [ ]:
X = data.x
Y = data.y.dropna()
n = len(X)
m = len(Y)
tw, p_value = stats.ttest_ind(X, Y, equal_var=False)
tw, p_value

C:\Users\DaSh-More\AppData\Local\Temp\ipykernel_95508\1405153735.py:5: DeprecationWarning: Please use `ttest_ind` from the `scipy.stats` namespace, the `scipy.stats.stats` namespace is deprecated.
  tw, p_value = stats.ttest_ind(X, Y, equal_var=False)

(0.6346186667119241, 0.532054842325338)

In [ ]:
sw = (
    1 / (n - 1) * np.sum((X - X.mean()) ** 2) / n
    + 1 / (m - 1) * np.sum((Y - Y.mean()) ** 2) / m
) ** 0.5
Tw = (X.mean() - Y.mean()) / sw
Tw

0.6346186667119241

In [ ]:
s2x = 1 / (len(X) - 1) * np.sum((X - X.mean()) ** 2)
s2y = 1 / (len(Y) - 1) * np.sum((Y - Y.mean()) ** 2)
param = s2x / s2y
n = len(X)
m = len(Y)
alpha = 0.01
data = (param + n / m) ** 2 / (1 / (n - 1) * param**2 + 1 / (m - 1) * (n / m) ** 2)
data

22.581202551740432

In [ ]:
t1 = t(data)
sw * t1.isf(alpha / 2)

6.910627494715022

In [ ]:
pv = 2 * (1 - t1.cdf(abs(Tw)))
pv

0.532054842325338